<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthyU"
        tools:targetApi="31">
        <activity
            android:name=".bookingAppointment"
            android:exported="false" />
        <activity
            android:name=".doctorDetails"
            android:exported="false" />
        <activity
            android:name=".DokterActivity"
            android:exported="false" />
        <activity
            android:name=".LabActivity"
            android:exported="false" />
        <activity
            android:name=".ArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".ArtikellActivity"
            android:exported="false" />
        <activity
            android:name=".ObatActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".LabDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BerhasilActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>